@media only screen and (min-width: 64em) {}

nav ul li a {
    padding: .6rem 1rem;
}

/*rental information*/

.tour-grid {
    grid-template-columns: 1fr 1fr 1fr !important;
}
.toura{
    padding: 2%;
}
.tourb{
    padding: 2%;
}
.tourc{
    padding: 2%;
}

.rentals{
  max-width: none;

}

/*event information*/

.preform{
    max-width: 60%;
}